<!doctype html>
<html lang="en">
<title>Sign-In</title>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A renting platform." />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- Icon Image -->
    <link rel="icon" type="image/png" href="../static/img/logo_size_1.png" />
    <link rel="shortcut icon" href="../static/img/Logo1-removebg-preview.png" />
    <link rel="apple-touch-icon-precomposed" href="../static/img/logo_size_invert_1.jpg"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/script1.css">

    

    <title>Sign In</title>
</head>

<body>

    
<div class="wrapper">
        <div class="left-side">
            <img src="..\static\img\Signin.jpg" alt="Welcome Image">
        </div>
        <div class="search-block">
            <c>
                <h1> Enter Your Credentials </h1>
            </c>
            <form class="search-form">
                <b>
                    <label for="userid">Email ID: </label>
                </b>
                <d style="color: white;">
                    <input type="text" id="userid" placeholder= "Enter your Email ID" name="userid" required> 
                </d>
                <br>
                <b><label for="userpass">Password: </label></b>
                <input type="password" id="userpass" placeholder="Enter your Password" name="userpass" required>         
            </form>
            <br>
            <br>
            <input type="button" class="Signin" id="Signin" value="Sign In">
            <br>
            <p>Don't have an account? <a href="Registration.html">Register here.</a></p>
            <br>
            <d><label>------------------  OR  ------------------</label></d>
            <br>
            <e href="/"><button class="btn" id="btnn" type="submit"><img src="..\static\img\Capture.PNG" alt="Submit Button" /></button></a>
            <br>
            <br>
            <e href="/"><button class="btn1" id="btn11" type="submit"><img src="..\static\img\microsoft login.PNG" alt="Submit Button" /></button></a>
    </div>
</div>
    
</body>

<script defer type="module" src="../static/js/Firebase-auth.js"></script>

</html>
            <!--<form id="search-form-2">
                <a href="/"></a><button class="btn2" type="submit">Login</button>
                <a href="/"></a><button class="btn2" type="submit">Register</button>
            </form>
        </div>
        <br>
        <div class="search-block-1">
            <form id="search-form-1">
                <input type="text" id="query" placeholder="Search for (about) everything ...." />
                <button class="btn1" type="submit">Search</button>
                
            </form>  
        </div>
        <br>
        <div class="Description-block">
            <form id="Description-form">
                <form id="Description-form-1">
                    <form id="Description-form-11">
                    <br>
                    <br>
                    <c>
                        <h1>Find your required stuff easily</h1>
                    </c>
                    <br>
                    </form>
                
                    <form id="Description-form-12">
                        <d>
                        <h1><b>Rent an household item,</b></h1>
                        <h1><b>made easy!</b></h1>
                        </d>
                    </form>
                </form>
                <form id="Description-form-2">
                    <img src="c:\Users\Dell\Downloads\Home.JPG" alt="Trekking kit">
                </form>
                
                
            </form>    
        </div>   
       
        <div class="Description-block-1">
                
        </div>
        <div class="row" id="root"></div>-->
    